*{
    box-sizing: border-box;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@media screen and (max-width: 59.99em) 
{
  .topnav a
  {
    border-radius: 25px;
    border: 5px outset #346124;
    background:#66bb46;
    width:100%;
    max-width:500px;
  }
  .topnav .minni
  {
    width:60%;
    margin:0 auto;
    margin-top:3%;
  }
}
.allt
{
  margin:0 auto;
  font-size: 1.1em;
  font-family: 'Lilita One', cursive;
  color:black;
  padding:0em;
  line-height: 1.5;
  background: linear-gradient(to bottom, #299ed9 0%, #315dab 100%);
  overflow-x: hidden;
}
.header
{
  height:100%;
  padding-top:75px;
  padding-left:5px;
  padding-right:5px;
}
.headerbackground
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.headerbackground img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width:700px;
  max-height:150px;
}
.topnav
{
  margin: 0 auto;
  margin-top:3%;
  padding:2%;
  font-size: 1.3em;
  font-family: 'Titan One', cursive;
  align-content: center;
  display:flex;
  flex-flow: column;
  width:100%;
}
.topnav a
{
  margin:0 auto;
  text-align: center;
  margin-top:4%;
}
.topnav a:visited
{
	color:black;
}
a
{
  text-decoration: none;
}
a:link
{
	color:black;
}
a:visited
{
	color:rgb(123, 34, 34);
}
a:hover
{
	color:#346124;
}
a:Active
{
	color:#66bb46;
}
.banner
{
  background:#ffffff;
  padding:1em;
  background:#b8d14a;
  text-align:justify;
  width:100%;
  margin:0 auto;
}
.banner .video
{
  padding:0em;
}
.fyrirsogn
{
  font-family: 'Titan One', cursive;
  line-height: 1.5;
  margin-top:1em;
  text-align:left;
}
hr
{
  border:none;
  border-top:#346124 5px dotted;
  margin-top:3em;
  margin-bottom:1em;
}
.will img
{
  width:99%;
  height:auto;
  margin:0 auto;
  border:#346124 solid 1em;
  border-radius: 25px;
  margin-bottom:1em;
  max-width:750px;
}
.picture img
{
  width:auto;
  height:auto;
  margin:5px;
  margin-right:1em;
  border:#346124 solid 1em;
  border-radius: 25px;
  max-height:360px;
  margin-bottom:1em;
  float:left;
}
.video
{
  margin:0px;
  border:#346124 solid 1em;
  border-radius: 25px;
  height:190px;
}
.video iframe
{
  height:100%;
  width:100%;
}
.footer
{
  text-align:center;
}
.footer ul
{
  list-style-type: none;
  padding:0em;
}
.takki
{
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom:3%;
  right:2%;
  font-size: 2em;
}
.copy
{
  position:relative;
  left:0.5em;
  bottom:0.15em;
}

@media screen and (min-width:18.75em)
{
}
@media screen and (min-width: 25em) 
{
  .rammi
  {
    border:#346124 solid 5px;
    padding:1em;
    border-radius: 25px;
    margin-top:1em;
    min-height:360px;
  }
  .rammiwill
  {
    border:#346124 solid 5px;
    background:#346124;
    padding:1em;
    border-radius: 25px;
    margin-top:1em;
  }
  .footer nav 
  {
    border:#299ed9 solid 5px;
    background:#299ed9;
    border-radius: 25px;
    margin:1em;
    padding:0em;
  }
  .video
  {
    height:300px;
  }
}
@media screen and (min-width: 30em) 
{
}
@media screen and (min-width: 37.5em) 
{
  .video
  {
    height:400px;
  }
  .topnav a
  {
    margin-top:0.5em;
  }
  .headerbackground img
  {
    max-height:200px;
  }
}
@media screen and (min-width:48em)
{
  .footer
  {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 auto;
    width:90%;
  }
  .headerbackground
  {
    margin-top:2em;
  }
  .topnav a
  {
    margin-top:0.3em;
  }
  .topnav .minni
  {
    margin-top:0.2em;
  }
  .topnav
  {
    margin-top:0em;
  }
  .headerbackground img
  {
    max-height:300px;
  }
  .kassar
  {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0.5em;
    height:fit-content;
  }
  .kassar .picture
  {
    max-width:266px;
    height:auto;
  }
  .will img
  {
    padding-top:5%;
    padding-bottom:5%;
    margin:0 auto;
    border:#346124 solid 1em;
    border-radius: 25px;
    margin-bottom:1em;
  }
}
@media screen and (min-width:60em)
{
  .headerbackground img
  {
    max-height:500px;
  }
  .video
  {
    height:270px;
  }
  .banner
  {
    width:90%;
    margin:0 auto;
    border-radius: 25px;
    border: 5px outset #346124;
    padding:1em;
  }
  .footer
  {
    width:90%;
  }
  .topnavbox
  {
    margin:0 auto;
    width:90%;
    justify-content:center;
    margin-top:10em;
    border-radius: 25px;
    border: 5px outset #346124;
    background:#66bb46;
  }
  .topnav
  {
    display:flex;
    flex-flow:row;
    margin-top:0em;
  }
  .topnav a
  {
    padding:5px;
    margin:5px;
    padding-bottom:0em;
    border-radius: 50px;
    border: 4px solid #346124;
    width:100%;
    padding-top:0.8em;
    font-size:0.8em;
  }
  .topnav .minni
  {
    margin:5px;
    padding:5px;
    width:100%;
  }
}
@media screen and (min-width:80em)
{
  .topnavbox
  {
    max-width:60em;
  }
  .banner
  {
    max-width:60em;
  }
  .footer
  {
    max-width:60em;
  }
}